<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<link rel="shortcut icon" href="http://demo.templatesquare.com/html/innocente/images/favicon.ico" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
<title>Innocente</title>
<link rel="shortcut icon" href="http://demo.templatesquare.com/html/innocente/images/favicon.ico" />
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="./css/style.css" rel="stylesheet" type="text/css" />
<link href="./css/inner.css" rel="stylesheet" type="text/css" />
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/geosanslight_500.font.js"></script>
<script type="text/javascript">
	 Cufon.replace('h1') ('h1 a') ('h2') ('h3') ('h4') ('h5') ('h6') ('#top-navigation ul#topnav > li > a', {hover:true});
</script>
<script type="text/javascript" src="./js/dropdown.js"></script>
<!--[if IE]>
<script type="text/JavaScript">
$(document).ready(function() {
	$(".sidebox:last-child, body p:last-child ")
	.css({marginBottom:"0px"})
})
</script>
<![endif]-->
<meta charset="UTF-8"></head>
<body>

		<div id="outer-container">
			<div id="outer-glow-top"></div>
			<div id="container">
			<div id="container-pattern">
				<div id="top">
					<div id="topleft">
						<div id="logo">
							<h1><a href="./index.html">Innocente</a></h1>
						</div>
					</div><!-- end #topleft -->
					<div id="topright">
							<div id="searchtop">
							<form  method="get" action="" id="searchform">
									<div><input type="text" class="inputbox" value="" onblur="" onfocus=""/></div>
								</form>
							</div><!-- end #searchtop -->
					</div><!-- end #topright -->
				</div><!-- end #top -->
				<div class="clear"></div><!-- clear float -->
				<div id="top-navigation">
					<ul id="topnav">
						<li><a href="./index.html">Home</a></li>
						<li><a class="current" href="./about.html">About</a>
							<ul>
								<li><a href="./single.html">Single</a></li>
								<li><a href="./typography.html">Typography</a></li>
								<li><a href="./fullwidth.html">Full Width</a></li>
							</ul>
						</li>
						<li><a href="./services.html">Services</a></li>
						<li><a href="./blog.html">Blog</a></li>
						<li><a href="#">Portfolio</a>
							<ul>
								<li><a href="./portfolio.html">Portfolio One Column</a></li>
								<li><a href="./portfolio2.html">Portfolio Two Column</a></li>
								<li><a href="./portfolio3.html">Portfolio Three Column</a></li>
								<li><a href="http://demo.templatesquare.com/html/innocente/portfolio4.html">Portfolio Four Column</a></li>
							</ul>
						</li>
						<li><a href="./contact.html">Contact</a></li>
					</ul>
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #top-navigation -->
				<div id="main">
				
					<div id="content">
						<h1 class="pagetitle">About</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p>
						<img src="http://demo.templatesquare.com/html/innocente/images/pic1.jpg" alt="" class="alignleft"/>
						<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong><br />Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<h2>Lorem ipsum dolor sit amet, consectetur!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus magna ligula. Phasellus facilisis, metus ut bibendum laoreet, mi tellus semper leo, et iaculis augue elit nec arcu. Praesent ornare molestie lorem, ut luctus lacus volutpat semper. Donec libero lacus, varius id iaculis sit amet, mattis vel tortor. In facilisis erat in justo mollis volutpat. Sed et libero diam. Integer urna orci, pretium placerat euismod id, elementum eget nisi. </p>
					</div><!-- end #content -->
					
					<div id="sideright">
						
					<div class="sidebox">
						<ul>
							<li>
								<h2 class="widget-title">About Us</h2>
								<ul>
									<li><a href="#" class="current">Company Profile</a></li>
									<li><a href="#">Visi Mission</a></li>
									<li><a href="#">Our Patner</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="sidebox">
						<ul>
							<li>
								<h2 class="widget-title">Latest Projects</h2>
								<p>Praesent ornare molestie lorem, ut luctus lacus volutpat semper. Donec libero lacus, varius id iaculis sit amet, mattis vel tortor. </p>
								<ul class="display-inline">
									<li><a href="#"><img src="./images/lp1.gif" alt=""/></a></li>
									<li><a href="#"><img src="./images/lp2.gif" alt=""/></a></li>
									<li><a href="#"><img src="./images/lp3.gif" alt=""/></a></li>
									<li><a href="#"><img src="./images/lp4.gif" alt=""/></a></li>
								</ul>
							</li>
						</ul>
					</div>
					</div><!-- end #sideright -->
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #main -->
				<div id="footer">
					<div id="footer-text">
					Copyright &copy;2010 Innocente.  All rights reserved.
					</div>
				</div>
			</div><!-- end #container-pattern -->
			</div><!-- end #container -->
			<div id="outer-glow-bottom"></div>
		</div><!-- end #outer-container -->
		
</body>
</html>
