				<div id="main">
					
					<div id="content-narrow">
						<h1 class="pagetitle">Contact</h1>
						<div id="twitter">
							<a href="#" class="twitter-link">Follow me on Twitter</a>
							<div class="clear"></div><!-- clear float -->
						</div><!-- end #twitter -->
						
						<h3>Head Office</h3>
						<strong>Address Info</strong><br />
						1234 Address City, TS 56789<br />
						City, Country<br /><br /><br />
						<div id="contactform">
						  <form id="contact" action="">
							<fieldset>
							  <label for="name" id="name_label">Name (required)</label>
							  <input type="text" name="name" id="name" size="30" value="" class="text-input" />
							  <span class="error" id="name_error">Please enter name !</span><br />
							  <label for="email" id="email_label">Email (required)</label>
							  <input type="text" name="email" id="email" size="30" value="" class="text-input" />
							  <span class="error" id="email_error">Please enter email address !</span>
							  <span class="error" id="email_error2">Please enter valid email address !</span>
							  <label for="msg" id="msg_label">Message</label>
							 <textarea cols="20" rows="10" name="msg" id="msg" class="text-input"></textarea><br />
							  <span class="error" id="msg_error">Please enter message !</span>
							  <input type="submit" name="submit" class="button" id="submit_btn" value="Leave Message"/>
							</fieldset>
	
						  </form>
						</div><!-- end #contactform -->

					</div><!-- end #content-narrow -->
					
					<div id="sideright-wide">
						
						<div id="contactnumber">
							<span class="cnumber">012.3456.4785</span><br /><span class="cmail"><a href="">info@innocente.com</a></span>
						</div><!-- end #contactnumber -->
						
						<div id="map">
							<iframe width="498" height="355" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Jalan+Kemanggisan+Utama,+Jakarta,+Indonesia&amp;sll=37.0625,-95.677068&amp;sspn=46.092115,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Jalan+Kemanggisan+Utama,+Jakarta+Barat,+Jakarta,+Indonesia&amp;ll=-6.189793,106.7908&amp;spn=0.016639,0.034246&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Jalan+Kemanggisan+Utama,+Jakarta,+Indonesia&amp;sll=37.0625,-95.677068&amp;sspn=46.092115,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Jalan+Kemanggisan+Utama,+Jakarta+Barat,+Jakarta,+Indonesia&amp;ll=-6.189793,106.7908&amp;spn=0.016639,0.034246&amp;z=14&amp;iwloc=A" style="text-align:left; color:#555">View Larger Map</a></small>
						</div><!-- end #map -->

					
					</div><!-- end #sideright-wide -->
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #main -->
				
