

<meta charset="UTF-8"></head>
<body>

		<div id="outer-container">
			<div id="outer-glow-top"></div>
			<div id="container">
			<div id="container-pattern">
				<div id="top">
					<div id="topleft">
						<div id="logo">
							<h1><a href="./index.html">Innocente</a></h1>
						</div>
					</div><!-- end #topleft -->
					<div id="topright">
							<div id="searchtop">
							<form  method="get" action="" id="searchform">
									<div><input type="text" class="inputbox" value="" onblur="" onfocus=""/></div>
							  </form>
							</div><!-- end #searchtop -->
					</div><!-- end #topright -->
				</div><!-- end #top -->
				<div class="clear"></div><!-- clear float -->
				<div id="top-navigation">
					<ul id="topnav">
						<li><a class="current" href="./index.html">Home</a></li>
						<li><a href="./about.html">About</a>
							<ul>
								<li><a href="./single.html">Single</a></li>
								<li><a href="./typography.html">Typography</a></li>
								<li><a href="./fullwidth.html">Full Width</a></li>
							</ul>
						</li>
						<li><a href="./services.html">Services</a></li>
						<li><a href="./blog.html">Blog</a></li>
						<li><a href="#">Portfolio</a>
							<ul>
								<li><a href="./portfolio.html">Portfolio One Column</a></li>
								<li><a href="./portfolio2.html">Portfolio Two Column</a></li>
								<li><a href="./portfolio3.html">Portfolio Three Column</a></li>
								<li><a href="http://demo.templatesquare.com/html/innocente/portfolio4.html">Portfolio Four Column</a></li>
							</ul>
						</li>
						<li><a href="./contact.html">Contact</a></li>
					</ul>
					<div class="clear"></div><!-- clear float -->
				</div>
				<!-- end #top-navigation -->
				<div id="header">
				<ul id="slider">
					<li>
						<div class="header-left">
							<div class="slider-image"><img src="./images/slider1.jpg" alt="" /></div>
						</div><!-- end #header-left -->
						<div class="header-right">
							<h1>The <span class="titlecolor">Best</span> </h1>
							<h2>Lorem ipsum dolor<br /> sit amet, </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#" class="button">Read More</a>
							<a href="#" class="button2">Join Now</a>
						</div><!-- end #header-right -->
					</li>
					<li>
						<div class="header-left">
							<div class="slider-image"><img src="./images/slider2.jpg" alt="" /></div>
						</div><!-- end #header-left -->
						<div class="header-right">
							<h1>Dolor <span class="titlecolor">sit</span></h1>
							<h2>Lorem ipsum dolor<br /> sit amet, </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#" class="button">Read More</a>
							<a href="#" class="button2">Join Now</a>
						</div><!-- end #header-right -->
					</li>
					<li>
						<div class="header-left">
							<div class="slider-image"><img src="./images/slider3.jpg" alt="" /></div>
						</div><!-- end #header-left -->
						<div class="header-right">
							<h1>Donec <span class="titlecolor">ornare</span></h1>
							<h2>Lorem ipsum dolor<br /> sit amet, </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#" class="button">Read More</a>
							<a href="#" class="button2">Join Now</a>
						</div><!-- end #header-right -->
					</li>
					<li>
						<div class="header-left">
							<div class="slider-image"><img src="./images/slider4.jpg" alt="" /></div>
						</div><!-- end #header-left -->
						<div class="header-right">
							<h1>leo <span class="titlecolor">massa</span></h1>
							<h2>Lorem ipsum dolor<br /> sit amet, </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#" class="button">Read More</a>
							<a href="#" class="button2">Join Now</a>
						</div><!-- end #header-right -->
					</li>
					</ul>
					<div id="slider-navigation">
						<div id="pager"></div>
						<a href="#" id="prev-slider"></a>
						<a href="#" id="next-slider"></a>
					</div>
				</div><!-- end #header -->
				<div id="main">
				
					<div id="content">
						<ul class="three_column">
							<li>
								<h1 class="titlecolor"><span class="circle">01.</span>One<br />Edition</h1>
								<p><strong>Lorem ipsum dolor sit amet, consectetur.</strong></p>
								<span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</span>
							</li>
							<li>
								<h1 class="titlecolor"><span class="circle">02.</span>Two<br />Edition</h1>
								<p><strong>Lorem ipsum dolor sit amet, consectetur.</strong></p>
								<span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</span>
							</li>
							<li class="last">
								<h1 class="titlecolor"><span class="circle">03.</span>Three<br />Edition</h1>
								<p><strong>Lorem ipsum dolor sit amet, consectetur.</strong></p>
								<span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</span>
							</li>
						</ul>
						<div class="clear"></div><!-- clear float -->
						<br /><br />
						<h1 class="titlecolor"><span class="headingnomargin">Welcome</span><span class="titlepost">Lorem ipsum dolor sit amet, consectetur!</span></h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor placerat mi. Aliquam malesuada, felis eget auctor euismod, lacus tellus vulputate turpis, sit amet elementum leo erat sed odio. Fusce a leo vel arcu pretium euismod a eu ipsum. Nulla facilisi. Etiam vel nunc ut eros posuere sollicitudin. Etiam lacus nulla, molestie ac ultrices eu, interdum in nulla. Quisque felis turpis, malesuada eu fermentum eget, molestie in massa. Fusce laoreet, dui placerat euismod sagittis, nulla elit commodo libero, eu mattis mi est a massa. Vestibulum non sapien nisl, non varius quam. </p>
					
					</div><!-- end #content -->
					
					<div id="sideright">
						
					<div class="sidebox">
						<ul>
							<li>
								<h2 class="widget-title">Latest News</h2>
								<ul class="latestpost">
									<li>
									<span class="datebox"><span class="datetime">04</span> Dec</span>
									<span class="wd-title">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span><br />
									<a href="#" class="more">Read More</a>
									</li>
									<li>
									<span class="datebox"><span class="datetime">03</span> Dec</span>
									<span class="wd-title">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span><br />
									<a href="#" class="more">Read More</a>
									</li>
									<li>
									<span class="datebox"><span class="datetime">02</span> Dec</span>
									<span class="wd-title">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span><br />
									<a href="#" class="more">Read More</a>
									</li>
								</ul>
								<a href="#" class="button">More News</a>
								<div class="clear"></div><!-- clear float -->
							</li>
						</ul>
						
					</div>
					</div><!-- end #sideright -->
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #main -->
				<div id="footer">
					<div id="footer-text">
					Copyright &copy;2010 Innocente.  All rights reserved.
					</div>
				</div>
			</div><!-- end #container-pattern -->
			</div><!-- end #container -->
			<div id="outer-glow-bottom"></div>
		</div><!-- end #outer-container -->
		
</body>
</html>
