<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<link rel="shortcut icon" href="http://demo.templatesquare.com/html/innocente/images/favicon.ico" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
<title>Innocente</title>
<link rel="shortcut icon" href="http://demo.templatesquare.com/html/innocente/images/favicon.ico" />
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="./css/style.css" rel="stylesheet" type="text/css" />
<link href="./css/inner.css" rel="stylesheet" type="text/css" />
<link href="./css/prettyphoto.css" rel="stylesheet" type="text/css" />
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/geosanslight_500.font.js"></script>
<script type="text/javascript">
	 Cufon.replace('h1') ('h1 a') ('h2') ('h3') ('h4') ('h5') ('h6') ('#top-navigation ul#topnav > li > a', {hover:true}) ('.entry-utility-date');
</script>
<script type="text/javascript" src="./js/dropdown.js"></script>
<script type="text/javascript" src="http://demo.templatesquare.com/html/innocente/js/fade.js"></script>
<script type="text/javascript" src="./js/jquery.prettyphoto.js"></script>
<!--[if IE]>
<script type="text/JavaScript">
$(document).ready(function() {
	$(".sidebox:last-child, body p:last-child")
	.css({marginBottom:"0px"})
})
</script>
<![endif]-->
<meta charset="UTF-8"></head>
<body>

		<div id="outer-container">
			<div id="outer-glow-top"></div>
			<div id="container">
			<div id="container-pattern">
				<div id="top">
					<div id="topleft">
						<div id="logo">
							<h1><a href="./index.html">Innocente</a></h1>
						</div>
					</div><!-- end #topleft -->
					<div id="topright">
							<div id="searchtop">
							<form  method="get" action="" id="searchform">
									<div><input type="text" class="inputbox" value="" onblur="" onfocus=""/></div>
								</form>
							</div><!-- end #searchtop -->
					</div><!-- end #topright -->
				</div><!-- end #top -->
				<div class="clear"></div><!-- clear float -->
				<div id="top-navigation">
					<ul id="topnav">
						<li><a href="./index.html">Home</a></li>
						<li><a href="./about.html">About</a>
							<ul>
								<li><a href="./single.html">Single</a></li>
								<li><a href="./typography.html">Typography</a></li>
								<li><a href="./fullwidth.html">Full Width</a></li>
							</ul>
						</li>
						<li><a href="./services.html">Services</a></li>
						<li><a href="./blog.html">Blog</a></li>
						<li><a class="current" href="#">Portfolio</a>
							<ul>
								<li><a href="./portfolio.html">Portfolio One Column</a></li>
								<li><a href="./portfolio2.html">Portfolio Two Column</a></li>
								<li><a href="./portfolio3.html">Portfolio Three Column</a></li>
								<li><a href="http://demo.templatesquare.com/html/innocente/portfolio4.html">Portfolio Four Column</a></li>
							</ul>
						</li>
						<li><a href="./contact.html">Contact</a></li>
					</ul>
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #top-navigation -->
				<div id="main">
				
					<h1 class="pagetitle">Portfolio Two Column</h1>
				
					<div id="ts-display-portfolio">
						<ul id="ts-display-pf-col-2">
									<li>
										<div class="ts-display-pf-img">
											<a class="image" href="./images/pf/pf1-2.jpg" rel="prettyPhoto[mixed]" ><img src="./images/pf/pf1-2.jpg" alt=""  class="fade"/></a>	
										</div>
										<div class="ts-display-pf-text">
											<h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
											<a href="#" class="more">Read More</a>	
										</div>
										<div class="ts-display-clear"></div>
									</li>
									<li class="nomargin">
										<div class="ts-display-pf-img">
											<a class="image" href="./images/pf/pf2-2.jpg" rel="prettyPhoto[mixed]" ><img src="./images/pf/pf2-2.jpg" alt=""  class="fade"/></a>	
										</div>
										<div class="ts-display-pf-text">
											<h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
											<a href="#" class="more">Read More</a>	
										</div>
										<div class="ts-display-clear"></div>
									</li>
									<li>
										<div class="ts-display-pf-img">
											<a class="image" href="./images/pf/pf3-2.jpg" rel="prettyPhoto[mixed]" ><img src="./images/pf/pf3-2.jpg" alt=""  class="fade"/></a>	
										</div>
										<div class="ts-display-pf-text">
											<h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
											<a href="#" class="more">Read More</a>	
										</div>
										<div class="ts-display-clear"></div>
									</li>
									<li class="nomargin">
										<div class="ts-display-pf-img">
											<a class="image" href="./images/pf/pf4-2.jpg" rel="prettyPhoto[mixed]" ><img src="./images/pf/pf4-2.jpg" alt=""  class="fade"/></a>	
										</div>
										<div class="ts-display-pf-text">
											<h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
											<a href="#" class="more">Read More</a>	
										</div>
										<div class="ts-display-clear"></div>
									</li>
							</ul>
							<div class="clear"></div>
						</div>
						
						<script type="text/javascript">
							var $ = jQuery.noConflict();
							$(document).ready(function(){
								$("#ts-display-portfolio a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook'});
							});
						</script>
						
					 <div class="wp-pagenavi">
						<a href="#" class="page">1</a><span class="current">2</span><a href="#" class="nextpostslink">&raquo;</a>
					</div><!-- end .wp-pagenavi -->			 				

				</div><!-- end #main -->
				<div id="footer">
					<div id="footer-text">
					Copyright &copy;2010 Innocente.  All rights reserved.
					</div>
				</div>
			</div><!-- end #container-pattern -->
			</div><!-- end #container -->
			<div id="outer-glow-bottom"></div>
		</div><!-- end #outer-container -->
		
</body>
</html>
