<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<link rel="shortcut icon" href="http://demo.templatesquare.com/html/innocente/images/favicon.ico" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
<title>Innocente</title>
<link rel="shortcut icon" href="http://demo.templatesquare.com/html/innocente/images/favicon.ico" />
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="./css/style.css" rel="stylesheet" type="text/css" />
<link href="./css/inner.css" rel="stylesheet" type="text/css" />
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/geosanslight_500.font.js"></script>
<script type="text/javascript">
	 Cufon.replace('h1') ('h1 a') ('h2') ('h3') ('h4') ('h5') ('h6') ('#top-navigation ul#topnav > li > a', {hover:true}) ('.entry-utility-date') ('.fn');
</script>
<script type="text/javascript" src="./js/dropdown.js"></script>
<!--[if IE]>
<script type="text/JavaScript">
$(document).ready(function() {

	$(".sidebox:last-child, body p:last-child ")
	.css({marginBottom:"0px"})
})
</script>
<![endif]-->
<meta charset="UTF-8"></head>
<body>

		<div id="outer-container">
			<div id="outer-glow-top"></div>
			<div id="container">
			<div id="container-pattern">
				<div id="top">
					<div id="topleft">
						<div id="logo">
							<h1><a href="./index.html">Innocente</a></h1>
						</div>
					</div><!-- end #topleft -->
					<div id="topright">
							<div id="searchtop">
							<form  method="get" action="" id="searchform">
									<div><input type="text" class="inputbox" value="" onblur="" onfocus=""/></div>
								</form>
							</div><!-- end #searchtop -->
					</div><!-- end #topright -->
				</div><!-- end #top -->
				<div class="clear"></div><!-- clear float -->
				<div id="top-navigation">
					<ul id="topnav">
						<li><a href="./index.html">Home</a></li>
						<li><a href="./about.html">About</a>
							<ul>
								<li><a href="./single.html">Single</a></li>
								<li><a href="./typography.html">Typography</a></li>
								<li><a href="./fullwidth.html">Full Width</a></li>
							</ul>
						</li>
						<li><a href="./services.html">Services</a></li>
						<li><a class="current" href="./blog.html">Blog</a></li>
						<li><a href="#">Portfolio</a>
							<ul>
								<li><a href="./portfolio.html">Portfolio One Column</a></li>
								<li><a href="./portfolio2.html">Portfolio Two Column</a></li>
								<li><a href="./portfolio3.html">Portfolio Three Column</a></li>
								<li><a href="http://demo.templatesquare.com/html/innocente/portfolio4.html">Portfolio Four Column</a></li>
							</ul>
						</li>
						<li><a href="./contact.html">Contact</a></li>
					</ul>
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #top-navigation -->
				<div id="main">
				
					<div id="content">
					<h1 class="pagetitle">Blog</h1>
					<div class="post single">
						<h2 class="posttitle"><a href="./single.html">Lorem ipsum dolor sit amet, consectetur</a> </h2>
						<div class="entry-utility-date"><span class="cd">03</span> <span class="cm">Dec</span></div>
						<div class="entry-utility">
						by <a href="#">Admin</a>, posted in <a href="#">Design</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">3</a> comments
						</div>

						<div class="entry">
							<img src="./images/post1.jpg" alt="" class="alignleft"/>
						<p>Ut enim ad minim veniam Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="clear"></div>
						</div>
					</div><!-- end .post -->
					
					<div id="authorbox">
						<img src="./images/author.jpg" alt="" class="alignleft" /><h2>About The Author</h2>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div><!-- end #authorbox -->
					
					<div id="related-post">
					<h2>Related Post</h2>
					<ul class="related-post">
						<li><img src="./images/rp1.jpg" alt="" class="alignleft" /><small>November 19, 2010</small><br /><strong><a href="#">Lorem ipsum dolor sit amet</a></strong></li>
						<li class="last"><img src="./images/rp1.jpg" alt="" class="alignleft" /><small>November 19, 2010</small><br /><strong><a href="#">Duis aute irure dolor in</a> </strong></li>
					</ul>
					<div class="clear"></div><!-- clear float -->
					</div><!-- end #related-post -->
					
					
				<div class="comment">
					<h3 class="respond">5 Comments</h3>
					<ol class="commentlist">
						<li>
							<div class="avatar">
								<img src="./images/avatar.jpg" alt="" />
							</div>
							<div class="comment-text">
							<cite class="fn">John Doe</cite><br class="clear"/>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span><br /><span class="time">Sep 16,2010 2:16 am</span>
							<a href="#" class="reply">Reply</a>
							</div>
							<ol class="child">
								<li>
									<div class="avatar">

										<img src="./images/avatar.jpg" alt="" />
									</div>
									<div class="comment-text">
										<cite class="fn">John Doe</cite><br class="clear"/>
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span><br /><span class="time">Sep 16,2010 2:16 am</span>
									<a href="#" class="reply">Reply</a>
									</div>
								</li>
							</ol>
						</li>

						<li>
							<div class="avatar">
								<img src="./images/avatar.jpg" alt="" />
							</div>
							<div class="comment-text">
								<cite class="fn">John Doe</cite><br class="clear"/>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span><br /><span class="time">Sep 16,2010 2:16 am</span>
							<a href="#" class="reply">Reply</a>
							</div>
						</li>
					</ol>
					
					<h2 class="respond">Leave a Comment</h2>

				  <form action="" method="post" id="commentform">
					<fieldset>
					 <label>Name *<br /> <input type="text" name="name" id="name"  value=""  /></label>
					 <label>Mail *<br /><input type="text" name="email" id="email"  value="" /></label>
					 <label>Website<br /><input type="text" name="website" id="website" value=""  /></label>
					 <br style="clear:both" />
					 <label>Comments<br /><textarea rows="5" cols="" name="msg" id="msg" class="textarea"></textarea></label>
					  <br style="clear:both" />
					  <button type="submit" class="button"><span class="double-arrow">Submit</span></button>
					</fieldset>

				  </form><br />
			
					</div>	<!-- end .comment -->				
					
					
					</div><!-- end #content -->
					
					<div id="sideright">
						
					<div class="sidebox">
						<ul>
							<li>
								<h2 class="widget-title">Categories</h2>
								<ul>
									<li><a href="#" class="current">Wordpress</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">HTML</a></li>
									<li><a href="#">Psd</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="sidebox">
						<ul>
							<li>
								<h2 class="widget-title">Archives</h2>
								<ul>
									<li><a href="#" class="current">Nov 2010</a></li>
									<li><a href="#">Sep 2010</a></li>
									<li><a href="#">Oct 2010</a></li>
									<li><a href="#">Aug 2010</a></li>
								</ul>

							</li>
						</ul>
					</div>
					</div><!-- end #sideright -->
					<div class="clear"></div><!-- clear float -->
				</div><!-- end #main -->
				<div id="footer">
					<div id="footer-text">
					Copyright &copy;2010 Innocente.  All rights reserved.
					</div>
				</div>
			</div><!-- end #container-pattern -->
			</div><!-- end #container -->
			<div id="outer-glow-bottom"></div>
		</div><!-- end #outer-container -->
		
</body>
</html>
