/* 

Innocente - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/
.pagetitle{margin:0px 0px 30px 0px; padding:0px; color:#fe872a}

.nomargin{margin-right:0px !important;}
.wp-pagenavi {clear:both; padding:20px 0px 20px 0px}
.wp-pagenavi a, .wp-pagenavi a:visited{
	color:#333;
	background-color:#e0e0e0;
	padding:2px 8px;
	margin-right:5px;
	border:solid 2px #e0e0e0;
}
.wp-pagenavi a:hover{
	background-color:#f7f7f7;
	color:#555555;
	padding:2px 8px;
	margin-right:5px;
	border:solid 2px #e0e0e0;
}
.wp-pagenavi .current{
	background-color:#f7f7f7;
	color:#555555;
	padding:2px 8px;
	margin-right:5px;
	border:solid 2px #e0e0e0;
	}
	
.wp-pagenavi .pages{
	color:#333;
	background-color:#e0e0e0;
	padding:2px 8px;
	margin-right:5px;
	border:solid 2px #e0e0e0;
}


/* PORTFOLIO */
.ts-display-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
.ts-display-pf-text h2{font-size:30px; line-height:32px;}
.ts-display-pf-text .more{
	background-repeat:repeat-x;
	background-color:#fe872a;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	border-radius: 4px; /* CSS3 */
	text-align:center;
	padding:10px 10px;
	font-size:12px !important;
	color:#fff !important;
	border:0px;
	cursor:pointer;
	width:auto !important;
	margin:2px 5px 0 0;
	float:left;
}
.ts-display-pf-text .more:hover{
	color:#fff; text-decoration:none; background-color:#ef9651
}

/*======= Portfolio 1 Column =======*/
#ts-display-pf-col-1{list-style-type:none; padding:0; margin:0 0 0px 0;}
#ts-display-pf-col-1 li{list-style-type:none; padding:0; margin:0 0px 80px 0; !important}
#ts-display-pf-col-1 li:last-child{ margin-bottom:40px;}
#ts-display-pf-col-1 li.nomargin{margin-right:0;}
#ts-display-pf-col-1 ul.pf-info-list{list-style-type:none; margin:0px 0px 20px 0px; padding:0px;}
#ts-display-pf-col-1 ul.pf-info-list li{list-style-type:none; margin:0px; padding:0px 0px 0px 20px; *padding:0px 0px 0px 0px; background-image:url(../images/list-large.gif); background-repeat:no-repeat; background-position:0px 8px; line-height:24px;}

#ts-display-pf-col-1 .ts-display-pf-img{
	width:596px;
	height:296px;
	float:left;
	margin-top:5px;
	border:solid 2px #e0e0e0;
}

#ts-display-pf-col-1 .ts-display-pf-img a.image:hover{
	background:url(../images/hover-opacity.png);
	background-repeat:no-repeat;
	background-position:center;
	width:600px;
	height:296px;
	display:block

}

#ts-display-pf-col-1 .ts-display-pf-text{
	width:288px;
	float:left;
	padding-left:32px;
}


/*======= Portfolio 2 Column =======*/
#ts-display-pf-col-2{list-style-type:none; padding:0; margin:0; }
#ts-display-pf-col-2 li{list-style-type:none; padding:0; margin:0 85px 70px 0; width:416px;  float:left}
#ts-display-pf-col-2 li.nomargin{margin-right:0;}
#ts-display-pf-col-2 h2{font-size:24px; line-height:24px;}

#ts-display-pf-col-2 .ts-display-pf-img{
	margin-bottom:20px;
	width:416px;
	height:236px;
	border:solid 2px #e0e0e0;
}

#ts-display-pf-col-2 .ts-display-pf-img a.image:hover{

	background:url(../images/hover-opacity.png);
	background-repeat:no-repeat;
	background-position:center;
	width:416px;
	height:236px; 
	display:block

}


/*======= Portfolio 3 Column =======*/
#ts-display-pf-col-3{list-style-type:none; padding:0; margin:0; }
#ts-display-pf-col-3 li{list-style-type:none; padding:0; margin:0 47px 70px 0; width:274px;  float:left}
#ts-display-pf-col-3 li.nomargin{margin-right:0;}
#ts-display-pf-col-3 h2{font-size:22px; line-height:24px;}

#ts-display-pf-col-3 .ts-display-pf-img{
	margin-bottom:20px;
	width:274px;
	height:164px; 
	border:solid 2px #e0e0e0;
}

#ts-display-pf-col-3 .ts-display-pf-img a.image:hover{

	background:url(../images/hover-opacity.png);
	background-repeat:no-repeat;
	background-position:center;
	width:274px;
	height:164px; 
	display:block

}

/*======= Portfolio 4 Column =======*/
#ts-display-pf-col-4{list-style-type:none; padding:0; margin:0}
#ts-display-pf-col-4 li{list-style-type:none; padding:0; margin:0 47px 50px 0; width:194px;  float:left}
#ts-display-pf-col-4 li.nomargin{margin-right:0;}
#ts-display-pf-col-4 h2{font-size:22px; line-height:24px;}
#ts-display-pf-col-4 .ts-display-pf-img{
	margin-bottom:20px;
	width:194px;
	height:134px; 
	border:solid 2px #e0e0e0;
}

#ts-display-pf-col-4 .ts-display-pf-img a.image:hover{
	background:url(../images/hover-opacity.png);
	background-repeat:no-repeat;
	background-position:center;
	width:194px;
	height:134px; 
	display:block

}



/* BLOG */
.posttitle{margin-bottom:8px; width:530px; font-size:30px; line-height:22px; font-weight:normal;}
.posttitle a, .posttitle a:visited{color:#fe872a}
.posttitle a:hover{text-decoration:none}
.entry{padding:30px 0px;}
.post{margin-bottom:30px;  position:relative; border-bottom:solid 1px #e0e0e0}
.post.single{margin-bottom:0px; padding-bottom:0px; border:0;}
.entry-utility{font-size:12px;}
.entry-utility a, .entry-utility a:visited{color:#797979; text-decoration:underline}
.entry-utility a:hover{text-decoration:none;}
.entry-utility-date{
	position:absolute;
	top:12px;
	right:0px;
	background-color:#535353;
	width:50px;
	height:55px;
	*border:solid 1px #535353;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	margin:0px 0px 0 0;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	color:#fff;
}
.cd{
	font-size:30px;
	line-height:16px;
	padding-top:5px;
	*padding-top:2px;
	display:block;
	margin-bottom:-3px !important
}
.post .more{ text-decoration:underline;}
.post .more:hover{ text-decoration:none;}
#authorbox{padding:20px 0px; margin-bottom:25px; border:solid 1px #e0e0e0; border-width:1px 0}

#related-post{margin:0 0 35px 0}
.related-post {list-style-type:none; margin:0; padding:0;}
.related-post li {list-style-type:none; margin:0; padding:0; width:48%; margin-right:4%; float:left;}
.related-post li.last{margin-right:0;}
.related-post li a, .related-post li a:visited{font-weight:bold; color:#797979;}
.related-post small{font-size:11px;}

.respond{ padding:0px 0px 20px 0px; margin-bottom:0px; border-bottom:solid 1px #e0e0e0}
ol.commentlist{list-style-type:none;padding-bottom:0px; padding-left:0px; margin:0px 0px 20px 0px;}
ol.commentlist li{position:relative; border:solid 1px #e0e0e0; border-width:0 0 1px 0; padding:20px 0}
ol.commentlist ol.child{list-style-type:none; padding:0; margin:20px 0 0 0; border:solid 1px #e0e0e0; border-width:1px 0 0 0 !important;  }
ol.commentlist ol.child li{padding:20px 0 0 75px !important; border:0px }
ol.commentlist ol.child li li{padding-bottom:0px !important;}
.commentlist .avatar{ position:absolute; *top:20px}
.commentlist .comment-text{width:auto;padding-left:100px; *padding-left:115px; display:block; padding-bottom:30px; }
.time{display:block; padding:10px 0 0 0;margin-bottom:5px}
.commentlist .comment-text .fn{font-size:18px;float:left; display:block !important; padding-bottom:10px;}
.reply{	
	display:block;
	height:20px;
	text-align:center;
	padding:2px 2px;
	color:#797979 !important;
	margin-top:5px;
	float:right;
	clear:both;
	padding-right:10px;
	text-decoration:underline;
	
}
.reply:hover{text-decoration:none;}
#commentform{padding:30px 0 20px 0;}
#commentform label { float:left}
#commentform input{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:20px;
	margin-right:20px;
	width:164px;
	padding:8px 5px
}

#commentform textarea{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:10px;
	width:560px;
	padding:8px 5px
}

#commentform .button{float:right; margin:10px 18px 0 0}

/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative}
#contactform label{display:block}
label.sp { width:3px;}
span.error{color:red;text-align:left; font-size:11px;}
#contactform input{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:8px;
	margin-right:20px;
	width:178px;
	padding:8px 5px
}

#contactform textarea{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:10px;
	width:378px;
	padding:8px 5px
}

#message{ margin-left:0px;}
#message h2	{}
#message p{margin:6px 0px; }

#contactform .button{
	background-repeat:repeat-x;
	background-color:#fe872a;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	border-radius: 4px; /* CSS3 */
	text-align:center;
	padding:10px 10px;
	font-size:12px !important;
	color:#fff !important;
	border:0px;
	cursor:pointer;
	width:auto !important;
	margin:10px 5px 0 0;
 }
#contactform .button:hover{color:#fff; text-decoration:none; background-color:#ef9651}

#twitter{
	border:solid 1px #e0e0e0;
	font-size:24px;
	color:#535353;
	background-color:#fbfbfb;
	padding:10px 30px;
	margin-bottom:30px;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	width:260px;
}
#twitter a, #twitter a:visited{color:#535353;}
#twitter a:hover{color:#818181; text-decoration:none}
#twitter a.twitter-link{padding:10px 0 10px 50px; display:block; background-image:url(../images/twitter.png); background-repeat:no-repeat}
#twitter .alignleft{border:0; vertical-align:middle}
#contactnumber{ text-align:right;}
.cnumber{ font-size:48px; line-height:50px; color:#535353;}
.cmail{color:#535353; font-size:30px;}
.cmail a, .cmail a:visited{color:#535353;}
#map iframe{border:solid 1px #e0e0e0; margin-top:20px;}